<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuldeepjoshi.kotlintutorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinTutorial">

        <activity android:name=".retrofit.ui.MarsActivity" />

        <activity
            android:name=".dependencyInjection.DependencyInjectionActivity"
            android:label="@string/title_activity_dependency_injection"
            android:theme="@style/Theme.KotlinTutorial.NoActionBar" />

        <activity
            android:name=".cupCake.ui.CupCakeMainActivity"
            android:label="@string/title_activity_cup_cake_main">

        </activity>
        <activity android:name=".viewModelAndLiveData.GameMainActivity" />
        <activity android:name=".navigationTutorial.activity.FragmentLetterActivity" />
        <activity android:name=".lifecycle.LifeCycleTwoActivity" />
        <activity android:name=".lifecycle.LifeCycleOneActivity" />
        <activity android:name=".intentAndActivities.activity.LetterDetailsActivity" />
        <activity android:name=".intentAndActivities.activity.LetterActivity" />
        <activity android:name=".recyclerView.RecyclerViewActivity" />
        <activity android:name=".appTheme.AppThemeActivity" />
        <activity android:name=".tipCalculator.TipCalculatorActivity" />
        <activity android:name=".diceTutorial.DiceRollWithButtonActivity" />
        <activity android:name=".diceTutorial.MainActivity" />

        <activity android:name=".workManager.SelectImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".workManager.BlurActivity" />

    </application>

</manifest>